/* Основные стили для меню */
.menu1 {
    background-color: rgb(4, 4, 4);/* Серый цвет фона для меню */
    color: white; /* Цвет текста в меню белый */
    padding: 5px; /* Отступы вокруг содержимого меню */
    display: grid; /* Используем CSS Grid для компоновки элементов */
    grid-template-columns: repeat(6, auto); /* Создаем 6 колонок с автоматической шириной */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    height: 70px; /* Высота меню */
}

/* Стили для тела страницы */
body {
    margin: 0; /* Убираем отступы по умолчанию у body */
    background-color: rgb(4, 4, 4);
}

/* Стили для заголовка меню */
.menu-head {
    font-family: 'Courier New', Courier, monospace; /* Шрифт для заголовка меню */
}
/* Стили для пунктов меню */

.KnowMap, .FAQ, .Nastr, .History, .Akkaynt {
    font-size: 30px; /* Размер шрифта для пунктов меню */
    text-align: center; /* Центрируем текст в пунктах меню */
    justify-self: center; /* Выравнивание элементов по центру в сетке */
    cursor: pointer; /* Указатель мыши при наведении на элемент */
    transition: 1s; /* Плавный переход для эффектов при наведении */
}

/* Эффекты при наведении на пункты меню */
.KnowMap:hover, /* Закомментированное правило для .nadpis-fail:hover */ 
.FAQ:hover, .Nastr:hover, .History:hover, .Akkaynt:hover {
    transform: scale(1.2); /* Увеличиваем размер элемента при наведении */
}
.faq_vopros{
    display: grid;
    grid-template-columns: minmax(200px, 100px) 1fr;
}
.faq_vopros li{
    color: white;
    list-style-type: none;
    margin: 40px;
}
.fql_vorpos2{
    color: white;
    display: grid;
    grid-template-rows: repeat(5, auto);
    font-size: 10px;
    place-items: left;
    cursor: cell;
}
.vopros_1, .vopros_2, .vopros_3, .vopros_4, .vopros_5{
    width: 50px;
    height: 30px;
    border-radius: 10px;  
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    z-index: 0;
    position: relative;
}
.vopros_1::before, .vopros_2::before, .vopros_3::before, .vopros_4::before, .vopros_5::before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;  
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px; 
}
.vopros_1:hover::before, .vopros_2:hover::before, .vopros_3:hover::before, .vopros_4:hover::before, .vopros_5:hover::before{
    background: #ffffff;    
}
.vopros_1::after, .vopros_2::after, .vopros_3::after, .vopros_4::after, .vopros_5::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing{
    0% { background-position: 0 0; } /* Начальная позиция фона */
    50% { background-position: 400% 0; } /* Позиция фона в середине анимации */
    100% { background-position: 0 0; } /* Конечная позиция фона */
}

.otvet_1 , .otvet_2, .otvet_3, .otvet_4, .otvet_5{
    font-size: 27px;
    cursor: default;
    width: 500px;
    height: 30px;
    background: black;
    border-radius: 10px;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
}
.otvet_1_zamena::before{
    content:'';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 100%;
    background-size: 400%;
    z-index: -1;
    height: 4px;
    width: 410px;
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}
 .otvet_2_zamena::before{
    content:'';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 100%;
    background-size: 400%;
    z-index: -1;
    height: 4px;
    width: 500px;
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
 }
 .otvet_3_zamena::before{
    content:'';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 100%;
    background-size: 400%;
    z-index: -1;
    height: 4px;
    width: 435px;
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px; 
 }
.otvet_4_zamena::before{
    content:'';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 100%;
    background-size: 400%;
    z-index: -1;
    height: 4px;
    width: 235px;
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.otvet_5_zamena::before{
    content:'';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 100%;
    background-size: 400%;
    z-index: -1;
    height: 4px;
    width: 330px;
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
/*.otvet_1:hover::before , .otvet_2:hover::before, .otvet_3:hover::before, .otvet_4:hover::before, .otvet_5:hover::before{
    opacity: 1;
}*/
.sam_text_faq_1, .sam_text_faq_2, .sam_text_faq_3, .sam_text_faq_4, .sam_text_faq_5{
    color: rgb(255, 255, 255);
    font-size: 27px;
    width: 1000px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    cursor: default;
    border: none;
    outline: none;
    opacity: 0;
    border-radius: 15px;
}
/*.sam_text_faq_1::before, .sam_text_faq_2::before, .sam_text_faq_3::before, .sam_text_faq_4::before, .sam_text_faq_5::before{
    content: '';
    background-color: white;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    opacity: 0;
    z-index: 3;
    border-radius: 10px;
    position: absolute;   
    top: -10px;
    left: -10px;
    background-size: 400%;
}*/
/*.sam_text_faq_1:hover, .sam_text_faq_2:hover, .sam_text_faq_3:hover, .sam_text_faq_4:hover, .sam_text_faq_5:hover{
    opacity: 0;
    background-color: white;
    border-radius: 10px;
}*/
.ul_text_fql{
    position: absolute;
    top: 120px;
    left: 235px;
    list-style-type: none;
}
.sam_text_faq_1_see{
    opacity: 1;
}